.footer {
    background-color: #bbb1b1;
    color: #3b0202;
    padding: 10px;
  
    
      position: absolute;
      bottom: -1800px;
      width: 100%;
      text-align: center;
  }
  
   .footer-content{
    display: flex;
    margin-bottom: 10px;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
   .footer-section {
    flex-basis: 25%;
    padding: 20px;
    letter-spacing: 1px;
  } 
   
  .footer-section h2 {
    margin-bottom: 20px;
  }
   
   .footer-section ul {
    list-style: none;
    padding: 0;
  } 
  
   .footer-section ul li {
    margin-bottom: 10px;
  } 
  
   .footer-section ul li a {
    color: #410202;
    text-decoration: none;
  } 
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
   .btn {
    display: inline-block;
    background-color: #420303;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  } 
  
   .btn-big {
    padding: 12px 24px;
    font-size: 18px;
  } 
  
  .footer-bottom {
    background-color: #8b6f6f;
    color: #fffafa;
    text-align: center;
    padding: -1500px 0;
  } 