
.nav-list {
    padding: 10px 5px; 
    display: flex;
    align-items:center;
    margin-right: 990px; 
    margin-left: 10px;
    position: absolute; 
    color: white;

  }
  .brandname h1{
    margin: 0;

  }
  .nav-list li a{
    text-decoration: none;
    color:#eef4f0; 
    font-weight: bold;

  }


  .nav-list li {
    display: inline-block; 
    margin-right: 20px; 

  }
  .nav-list :hover {

    background-color:#b7c3bd; 
    
    box-sizing: 2px 2px;
  }
  .sp {
    float: top;
    width: 1300px;
    height: 600px;
  
  }
  h1 {
    text-align: center;
    color: white;
    border: 1px solid black; /* Border style */
    padding: 10px; 
    background-color:black
    
  }
  
  


