.user-header {
  background-color: #f1f1f1; /* Background color for the navbar */
  padding: 10px;
}

.user-header h1 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-left: 20px; /* Adjust the margin to position the heading */
  margin-top: -5%;
  font-weight: 300;
}

.user-header ul {
  position: absolute; /* Set the unordered list position to absolute */
  top: 20px; /* Position the list at the top of the container */
  left: 60%; /* Position the list at the left of the container */
  z-index: 1; /* Ensure the list is on top of other elements */
}

.user-header ul li {
  display: inline;
  margin-left: 50px; /* Adjust spacing between items */
}

.user-header ul li:first-child {
  margin-left: 0; /* Remove left margin for the first item */
}

.user-header ul li a {
  color: white;
  text-decoration: none;
}

.user-header ul li a:hover {
  color:rgb(244, 239, 239)
}
.sub-menu {
  display: inline-block;
  background-color: #555;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100px;
  list-style: none;
  margin: 0;
}

.sub-menu li {
  margin-bottom: 5px;
}

.sub-menu li a {
  color: #fff;
  text-decoration: none;
}